<% provide :page_title, 'Start' %>

<% currently_at 'Home' %>


<h1>Hello Dan, welcome to Bloggg.</h1>

<h2><%= current_user.name %> in session</h2>

<footer>
  &copy; bodrovis <%= Time.now.year %>
</footer>

